@page "/ChosenMovie/{id:int}"
@inject IMembershipService membershipService;

<a href="/" type="button" class="btn btn-primary btn-lg">
    <i class="oi oi-arrow-left">
        <span class="vertical-align">Back</span>
    </i>
</a>
<div class="d-flex text-center" style="margin-bottom:5rem">
        <div class="d-flex flex-column">
            <h3>@film.Title</h3>
            <img src="@film.FilmPoster" class="FilmPoster" />
        </div>
        <div class="d-flex flex-column text-center" style="margin-left:50px; width:300px; height:500px; ">
            <label style="margin-top:100px; margin-bottom: 50px; font-size:x-large;">
                @film.Description
            </label>
        <h5 style="margin-top:35px;">Director: @film.DirectorName</h5>
        <h5 style="margin-top:10px;">Release: @film.Release.ToShortDateString()</h5>
            <a href="/VideoPage/@Id" class="btn-primary">Play</a>
        </div>
</div>
    <FilmChooser films="film.SimilarFilms" />
@code {
    [Parameter] public int Id { get; set; }

    public FilmDTO film { get; set; } = new();

    protected override async Task OnParametersSetAsync()
    {
        film = await membershipService.GetFilmAsync(Id);
    }

}
